h1, p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
fieldset{
    background-color: rgb(199, 168, 248);
    width:940px;
    margin: 0 auto;
}
form{
    background-color: rgb(127, 129, 255);
    margin:40px 10px 20px 10px;
}
form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 10px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input{
    display: block;
    margin:0 0 20px;
    padding: 10px 25px;
}
legend input{
    display: inline-block;
}
.enviar{
    width:40%;
    padding: 15px 0;
    background-color:crimson;
    font-weight: bold;
    color:white;
    font-size:20px;
    border:none;
    border-radius:10px;
    transition: 2s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkmagenta;
    transform: scale(0.8);
}
